* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-image: radial-gradient(circle at top right, rgb(167, 209, 116), rgb(224, 224, 119), #eee);
  background-size: cover;
  background-repeat: no-repeat;
}